<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html land="en">

<head>


<meta charset="UTF-8">
<title> Tiny App </title>
</head>

<body>

<div>
<% if ( !user ) { %>

<a href="/login"> Login </a>
<a href="/register"> Register </a>
 

<%}else{ %>

<label> Username: <%= user.id %></label>
<form method ="POST" action="/logout" >
<button style="float: right;">logout</button></form>






 <% } %>
 
</div>
</body>
</html>