<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html land="en">

<head>
<!-- CSS (load bootstrap form CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<meta charset="UTF-8">
<title> Tiny App </title>
</head>

<body>

<div>
<% if ( !user_id ) { %>

<a href="/login"> Login </a>
<a href="/register"> Register </a>
 

<%}else{ %>

<label> Username: <%= user_id.id %></label>
<form method ="POST" action="/logout" >
<button style="float: right;">logout</button></form>






 <% } %>
 
</div>
</body>
</html>