<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>

  <title>TinyApp show Url</title>
</head>
<body>


    <header>
        <% include ../partials/_header %>
    </header>

		<strong><p>Large and <font size="-2">Tiny</font> URLs </p></strong>
		<p> <font size="-2">change URL in box before clicking update to alter URL </font></p> 

			<form method="POST" action= <%= "/urls/" + shortURL %> >
			<p>Full URL: <input type="text" name= <%= shortURL %> placeholder= "<%= longUrl%>" style= "width:300px"> </p><button type="submit">update </button></p>
			</form>
			<p><%= "Shortened Url: " +shortURL %></p>

<a href="/urls"> Back to URL List </a>

</body>

</html>