<!DOCTYPE html>
<html lang="en">

  <head></head>
  <body>


    <header>
    
        <% include ../partials/_header %>
    </header>
    
    <br></br>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Make it Tiny">
    </form>

    <br></br>

<a href="/urls"> Back to URL List </a>

  </body>
</html>