<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
	<header>
    <% include ../partials/_header %>
    </header>

   	<p style = padding:20px><strong> The <font size="-2">Tiny</font> URL List</p></strong>
   	<% if (links[0]) { %>
   		<ul>
		  <% links.forEach(function(linkpair) { %>
		  <form method="POST" action= <%= "/urls/" + linkpair.shortURL + "/delete"%> >
			<li> <strong>Link:</strong> <%= linkpair.longURL %> - <strong>Short From:</strong> 
				<a href=<%= "u/" + linkpair.shortURL %>><%= linkpair.shortURL %> </a> - <button>delete</button>
			</li><br>
		</form>

		  <% }); %>
			
		</ul>
	<% } else if (!user_id) { %>
		<p style = padding:20px> Hey Fool, Your List is Empty Login and <font size= "-2">Shrink</font> Those URLs</p>
	<% } else { %>
		<p> why not create some <font size ="-2">tiny</font> URLs?</p>
	<% }; %>
			
		<a href="urls/new">Shorten a New URL </a>
    
   
</body>
</html>